body{
    text-align: center;
    padding-top: 20%;
    
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    opacity:1;
    z-index: -1;
}
.headers{
    color: crimson;
}